#configuration for connection username
#EXAMPLE
#server username        132.90.166.112  password        destpath

#server  app    8.8.8.8  11q2w3e4        /home/app/

#COMMAND
#cm:ip addr |grep ens|grep inet|awk -v x=2 '{print $x}'|awk -F/ -v y=1 '{print $y}';
#cm:touch a.txt;
